body {
  margin: 0;
  height: 200vh; /* scroll üçün */
  font-family: Arial;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* 🔥 background layer */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -2;
}

/* 🔥 əlavə vignette (kənarları qaraldır) */
.bg::before {
  content: "";
  position: absolute;
  inset: 0;

  background: radial-gradient(
    circle,
    rgba(0,0,0,0.1) 55%,
    rgba(109, 49, 163, 0.45) 100%
  );
}
.container {
  background-image: url("mor.png");
  background-size: cover;        /* şəkil tam doldurur */
  background-position: center;   /* ortadan hizalayır */
  background-repeat: no-repeat;  /* təkrarlanmasın */
  margin: 0;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  color: white;
  font-family: 'TT Ramillas', serif;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* başlıq */
h1 {
  margin-bottom: 20px;
  color: #D4AF37;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4),
0 0 12px rgba(109, 49, 163, 0.5);
text-shadow: 0 0 5px #D4AF37;
font-family: 'Retro Vintage', cursive;

}

/* timer */
.timer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* bloklar */
.box {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* rəqəm */
.number {
  font-size: 32px;
  font-weight: bold;
  color: #D4AF37;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4),
0 0 12px rgba(109, 49, 163, 0.5);
text-shadow: 0 0 5px #D4AF37;
font-family: 'TT Ramillas', serif;
}

/* text */
.label {
  font-size: 12px;
  margin-top: 5px;
}

/* xətlər (vurğu) */
.box::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 40%;

  transform: translateX(-50%);
}
/* mobil optimizasiya */
@media (max-width: 500px) {
  .number {
    font-size: 22px;
  }
}
.buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  
}

/* ümumi button */
.buttons button {
  width: 100%;
  padding: 14px 0;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease;
  border: 2px solid transparent;
  color: white;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4),
0 0 12px rgba(109, 49, 163, 0.5);
font-family: 'TT Ramillas', serif;

}

/* 1,3,5 → MOR */
.buttons button:nth-child(odd) {
  background: #6D31A3;
  color: #D4AF37;
   background-image: url("mor.png");
  background-size: cover;        /* şəkil tam doldurur */
  background-position: center;   /* ortadan hizalayır */
  background-repeat: no-repeat;  /* təkrarlanmasın */
  text-shadow: 0 0 5px #D4AF37;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* 2,4 → QIZIL (gold/red vibe) */
.buttons button:nth-child(even) {
  background: #D4AF37;
  color: #471F6B;
   background-image: url("sari.png");
  background-size: cover;        /* şəkil tam doldurur */
  background-position: center;   /* ortadan hizalayır */
  background-repeat: no-repeat;  /* təkrarlanmasın */
  text-shadow: 0 0 5px #471f6b;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

/* hover effekt */
.buttons button:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* klik */
.buttons button:active {
  transform: scale(0.97);
}
.socials {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 18px;
}

/* icon container */
.socials a {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
   background-image: url("mor.png");
  background-size: cover;        /* şəkil tam doldurur */
  background-position: center;   /* ortadan hizalayır */
  background-repeat: no-repeat;  /* təkrarlanmasın */
  border: 1px solid #D4AF37; /* QIZILI vurğu */
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 0.3s ease;
}

/* icon image */
.socials img {
  width: 60px;
  height: 60px;
}

/* hover */
.socials a:hover {
  transform: translateY(-4px) scale(1.08);
  
  box-shadow: 0 0 12px rgba(212, 175, 55, 0.6);
}
.attend {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.attend button {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease;
}

/* 1 iyun */
.album {
  
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  display: flex;
}

.item {
  gap: 15px;
  padding: 12px;
  background-image: url("mor.png");
  background-size: cover;        /* şəkil tam doldurur */
  background-position: center;   /* ortadan hizalayır */
  background-repeat: no-repeat;  /* təkrarlanmasın */
  border-radius: 14px;
  overflow: hidden;
  text-align: center;
  
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.item img {
  background-size: cover;        /* şəkil tam doldurur */
  background-position: center;   /* ortadan hizalayır */
  background-repeat: no-repeat;  /* təkrarlanmasın */
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.item p {
  padding: 12px;
  font-size: 13px;
  line-height: 1.6;
  color: #D4AF37;
  text-shadow: 0 0 5px rgba(109, 49, 163, 0.6);
  text-align: justify;
  font-family: 'TT Ramillas', serif;
}


/* select dizaynı */
#langSelect {
  padding: 1px 13px;
  border-radius: 12px;
  
  border: 1px solid rgba(212, 175, 55, 0.5);
  
  background-image: url("mor.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  color: #D4AF37;
  font-size: 20px;
  cursor: pointer;
  
  outline: none;
  
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  
  text-shadow: 0 0 5px #D4AF37;
  
  transition: 0.3s ease;
}

/* hover */
#langSelect:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* focus */
#langSelect:focus {
  border: 1px solid #D4AF37;
  box-shadow: 0 0 12px rgba(109, 49, 163, 0.7);
}
/*korpe*/
/* ===== INPUT ===== */
input {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  
  border-radius: 12px;
  border: 1px solid rgba(212, 175, 55, 0.5);
  
  background-image: url("mor.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  color: #D4AF37;
  font-size: 16px;
  
  outline: none;
  
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  
  text-shadow: 0 0 5px #D4AF37;
}

/* placeholder */
input::placeholder {
  color: rgba(212, 175, 55, 0.6);
}

/* focus effekt */
input:focus {
  border: 1px solid #D4AF37;
  box-shadow: 0 0 15px rgba(109, 49, 163, 0.8);
  transform: scale(1.02);
}

/* ===== BUTTON ===== */
button {
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  
  border-radius: 12px;
  border: none;
  
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  
  color: #D4AF37;
  
  background-image: url("sari.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  text-shadow: 0 0 5px #471f6b;
  
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  
  transition: 0.3s ease;
}

/* hover */
button:hover {
  transform: translateY(-3px) scale(1.03);
  filter: brightness(1.15);
}

/* click */
button:active {
  transform: scale(0.97);
}

/* ===== RESULT BOX ===== */
#result {
  margin-top: 20px;
  padding: 15px;
  
  border-radius: 16px;
  
  background-image: url("mor.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
  
  text-align: center;
  color: #D4AF37;
}

/* result image */
#result img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-radius: 12px;
  
  box-shadow: 0 0 15px rgba(109, 49, 163, 0.6);
}

/* result text */
#result p {
  margin-top: 10px;
  font-size: 15px;
  text-shadow: 0 0 5px rgba(109, 49, 163, 0.6);
}
